<div id="mainContent" class="container">

  <div id="welcomeBox" class="row">Hello
  {{#if logged_in }}
    <span id="username">{{ user.name }} : {{ user.email }}</span>
  {{/if}}
  </div>

  <div id="topMusicRow" class="row">

  <div id="topArtists" class="col-sm-3">
      <div id="topArtistsHeader">
        <span>top artists:</span>
        <button
          type="button"
          class="btn btn-outline-success" 
          id="artist-save-btn"
        >
          save
        </button>
      </div>
      <div id="topArtistsList">
        <div id="artistsInputs" class="input-group mb-3">

        {{#if artists.length }}

          {{#each artists as |artist| }}
            {{!-- <li>{{ artist.artist }}</li> --}}
            <input type="text" class="form-control" aria-label="artist1" value="{{artist.artist}}" />
          {{/each}}

        {{else}}
            <input type="text" class="form-control" aria-label="artist1" />
            <input type="text" class="form-control" aria-label="artist2" />
            <input type="text" class="form-control" aria-label="artist3" />
            <input type="text" class="form-control" aria-label="artist4" />
            <input type="text" class="form-control" aria-label="artist5" />
        {{/if}}
        </div>
      </div>
    </div>

    <div id="topGenres" class="col-sm-3 col-sm-offset-1">
      <div id="topGenresHeader">
        <span>top genres:</span>
        <button
          type="button"
          class="btn btn-outline-success" id="genre-save-btn"
        >save</button></div>
      <div id="topGenresList">
        <div class="input-group mb-3" id="genreInputs">

          {{#if artists.length }}

          {{#each artists as |genre| }}
            {{!-- <li>{{ artist.artist }}</li> --}}
            <input type="text" class="form-control" aria-label="artist1" value="{{genre.genres}}" />
          {{/each}}

        {{else}}
            <input type="text" class="form-control" aria-label="artist1" />
            <input type="text" class="form-control" aria-label="artist2" />
            <input type="text" class="form-control" aria-label="artist3" />
            <input type="text" class="form-control" aria-label="artist4" />
            <input type="text" class="form-control" aria-label="artist5" />


        {{#if genres.length }}

          {{#each genres as |genre| }}
            {{!-- <li>{{ genre.genre }}</li> --}}
            <input type="text" class="form-control" aria-label="genre1" value="{{genre.genre}}" />
          {{/each}}

        {{else}}
          <input type="text" class="form-control" aria-label="genre1">
          <input type="text" class="form-control" aria-label="genre2">
          <input type="text" class="form-control" aria-label="genre3">
          <input type="text" class="form-control" aria-label="genre4">
          <input type="text" class="form-control" aria-label="genre5">

        {{/if}}
        </div>
      </div>
    </div>

    <div id="topSongs" class="col-sm-3 col-sm-offset-1">
      <div id="topTracksHeader">
        <span>top tracks:</span>
        <button
          type="button"
          class="btn btn-outline-success" id="track-save-btn"
        >save</button></div>
      <div id="topTracksList">
        <div class="input-group mb-3" id="trackInputs">
                  {{#if artists.length }}

          {{#each artists as |track| }}
            {{!-- <li>{{ artist.artist }}</li> --}}
            <input type="text" class="form-control" aria-label="artist1" value="{{track.tracks}}" />
          {{/each}}

        {{else}}
            <input type="text" class="form-control" aria-label="artist1" />
            <input type="text" class="form-control" aria-label="artist2" />
            <input type="text" class="form-control" aria-label="artist3" />
            <input type="text" class="form-control" aria-label="artist4" />
            <input type="text" class="form-control" aria-label="artist5" />

        {{#if tracks.length }}

          {{#each tracks as |track| }}
            {{!-- <li>{{ track.track }}</li> --}}
            <input type="text" class="form-control" aria-label="track1" value="{{track.track}}" />
          {{/each}}

        {{else}}
          <input type="text" class="form-control" aria-label="track1">
          <input type="text" class="form-control" aria-label="track2">
          <input type="text" class="form-control" aria-label="track3">
          <input type="text" class="form-control" aria-label="track4">
          <input type="text" class="form-control" aria-label="track5">
        {{/if}}
        </div>
      </div>
    </div>

  </div>
</div>

<script src="/js/homepage.js"></script>