<div class="container">
    {{#if logged_in}}
    <h1 class="playlist-name" id="playlists">{{user.name}} Playlists</h1>

    <div class="container">
        <div class="row">            
            {{#each playlists as |playlist|}}
            <div class="col"  id="playlist-card">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{playlist.playlist_name}}DanceDance</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{playlist.description}}Let's Dance</h6>
                        <p class="card-text">{{playlist.track_name}}What's My Name - Rihanna</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{else}}

    {{/if}}

</div>